In [1]:
import pandas as pd
pd.__version__

'2.2.3'

In [3]:
df = pd.read_csv('taxi_zone_lookup.csv')

In [4]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [5]:
len(df)

265

In [6]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
engine.connect()

In [10]:
target_table_name = 'taxi_zone'

In [11]:
print(pd.io.sql.get_schema(df, name=target_table_name, con=engine))

CREATE TABLE taxi_zone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [12]:
df.head(0).to_sql(name=target_table_name, con=engine, if_exists='replace')

0

In [13]:
chunk_size = 100000
chunk = 0
while True:
    lower_bound = chunk * chunk_size
    upper_bound = (chunk + 1) * chunk_size
    print(f'appending rows {lower_bound} to {upper_bound}')
    if lower_bound > len(df):
        print('load complete')
        break
    chunk_df = df.iloc[lower_bound:upper_bound, :]
    chunk_df.to_sql(name=target_table_name, con=engine, if_exists='append')
    chunk += 1

appending rows 0 to 100000
appending rows 100000 to 200000
load complete