In [1]:
import pandas as pd
pd.__version__

'2.2.3'

In [2]:
df = pd.read_parquet('green_tripdata_2019-10.parquet')

In [3]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,None,0.3,19.30,2.0,1.0,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,None,0.3,9.05,2.0,1.0,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,None,0.3,22.80,2.0,1.0,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,None,0.3,6.80,2.0,1.0,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,None,0.3,13.56,1.0,1.0,0.0

In [4]:
df.lpep_pickup_datetime = pd.to_datetime(df['lpep_pickup_datetime'])
df.lpep_dropoff_datetime = pd.to_datetime(df['lpep_dropoff_datetime'])

In [5]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
engine.connect()

In [7]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee TEXT,
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [8]:
df.head(0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [9]:
chunk_size = 100000
chunk = 0
while True:
    lower_bound = chunk * chunk_size
    upper_bound = (chunk + 1) * chunk_size
    print(f'appending rows {lower_bound} to {upper_bound}')
    if lower_bound > len(df):
        print('load complete')
        break
    chunk_df = df.iloc[lower_bound:upper_bound, :]
    chunk_df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    chunk += 1

appending rows 0 to 100000
appending rows 100000 to 200000
appending rows 200000 to 300000
appending rows 300000 to 400000
appending rows 400000 to 500000
appending rows 500000 to 600000
load complete