In [1]:
import pandas as pd
pd.__version__

'2.2.3'

In [2]:
df = pd.read_parquet('green_tripdata_2019-09.parquet')

In [3]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,None,0.3,14.16,1.0,1.0,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,None,0.3,13.30,2.0,1.0,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,None,0.3,13.30,2.0,1.0,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,None,0.3,10.30,1.0,1.0,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,None,0.3,18.36,1.0,1.0,0.0

In [4]:
df.lpep_pickup_datetime = pd.to_datetime(df['lpep_pickup_datetime'])
df.lpep_dropoff_datetime = pd.to_datetime(df['lpep_dropoff_datetime'])

In [5]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
engine.connect()

In [7]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee TEXT,
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [10]:
df.head(0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [11]:
chunk_size = 100000
chunk = 0
while True:
    lower_bound = chunk * chunk_size
    upper_bound = (chunk + 1) * chunk_size
    print(f'appending rows {lower_bound} to {upper_bound}')
    if lower_bound > len(df):
        print('load complete')
        break
    chunk_df = df.iloc[lower_bound:upper_bound, :]
    chunk_df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    chunk += 1

appending rows 0 to 100000
appending rows 100000 to 200000
appending rows 200000 to 300000
appending rows 300000 to 400000
appending rows 400000 to 500000
appending rows 500000 to 600000
load complete